@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.animate-delay-1 {
  animation-delay: 250ms;
}
.animate-delay-2 {
  animation-delay: 350ms;
}
.animate-delay-3 {
  animation-delay: 450ms;
}
.animate-delay-4 {
  animation-delay: 450ms;
}
.animate-delay-5 {
  animation-delay: 550ms;
}
.animate-delay-6 {
  animation-delay: 650ms;
}
.animate-delay-7 {
  animation-delay: 750ms;
}
.animate-delay-8 {
  animation-delay: 850ms;
}
.animate-delay-9 {
  animation-delay: 950ms;
}
.animate-delay-10 {
  animation-delay: 1050ms;
}
.animate-delay-11 {
  animation-delay: 1150ms;
}
.animate-delay-12 {
  animation-delay: 1250ms;
}
