@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: o;
  margin: 0;
}

#light-effect {
  background: radial-gradient(transparent, rgba(29, 78, 216, 0.2) 80%);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
